.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.cities-photo {
  width: 85%;
  float: center;
  margin-bottom: 15px;
}

.cities-details {
  font-size: 90%;
  list-style: none;
  width: 100%;
}

.icon-small {
  width: 30px;
  font-size: 120%;
  color: #e67e22;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}
