/* --------------------- BASIC SETUP --------------------- */
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* --------------------- REUSABLE --------------------- */

.row {
  max-width: 1140px;
  margin: auto;
}

/* --------- HEADINGS ------------ */

h1,
h2,
h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 145%;
}

h1 {
  color: #fff;
  font-size: 200%;
  letter-spacing: 1px;
  word-spacing: 4px;
  margin-bottom: 30px;
}

h2 {
  font-size: 180%;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ------------ ICONS ------------- */

.icon-big {
  font-size: 350%;
  color: #e67e22;
  display: block;
  margin-bottom: 10px;
}

.icon-small {
  width: 30px;
  font-size: 120%;
  color: #e67e22;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}

/* --------- PARAGRAPHS ----------- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

/* ---------- BUTTONS ------------ */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  font-weight: 300;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #e67e22;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: white;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #c46a1c;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #c46a1c;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #c46a1c;
  color: white;
}

/* --------- LINKS ----------- */

.twitter-ref:link,
.twitter-ref:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1.5px solid #e67e22;
  -webkit-transition: border-bottom 0.2s color 0.2s;
  transition: border-bottom 0.2s color 0.2s;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

h1 {
  color: #fff;
  font-size: 200%;
  letter-spacing: 1px;
  word-spacing: 4px;
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
}

h2 {
  font-size: 180%;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

/* SECTION */

section {
  align-items: center;
  margin: 40px 0px 40px 0px;
}
/* BURGER SECTION */
.burger-section {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  height: 75vh;
}

/* BUILD CONTROL */
.controls {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2%;
  width: 100%;
}
.bottom-controls {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}
.controls-2 {
  background-color: #f8f8f8;
  text-align: center;
}
.plan-price {
  font-size: 300%;
  padding-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}

.build-control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 10%;
}

.build-control:first-of-type {
  margin-top: 20px;
}

.build-control button {
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border-radius: 4px;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
  background: none;
}

.build-control button:disabled {
  border: 1px solid #e67e22;
  color: #e67e22;
  background-color: #eeeeee;
}

.build-control button:hover:disabled {
  border: 1px solid #e67e22;
  cursor: not-allowed;
  box-shadow: 0px 0px 0px #fff;
  background-color: #eeeeee;
  color: #e67e22;
}
.build-control button:disabled {
  box-shadow: 0px 0px 0px #fff;
}

.label {
  float: left;
  padding: 10px;
  font-weight: 300;

  width: 80px;
}

.build-control .less {
  /* background: #c46a1c; */
  border: 1px solid #e67e22;
  box-shadow: 1px 1px 1px #e67e22;
  color: white;
  color: #e67e22;
}

.build-control .more {
  background-color: #e67e22;
  color: white;
}

.build-control .less:hover,
.build-control .less:active {
  border: 2px solid #c46a1c;
  color: white;
  background-color: #c46a1c;
}

.build-control .more:hover,
.build-control .more:active {
  border: 2px solid #c46a1c;
  color: white;
  background-color: #c46a1c;
}

/* BUILD CONTROLS */
.burger-section-h2 {
  align-items: center;
  background-color: #f4f4f4;
}
.burger-section-h2 h2 {
  margin: 0;
  padding-bottom: 40px;
  padding-top: 20px;
}

.build-controls {
  width: 27%;
  height: 500px;
  display: inline-block;
  margin: 0 5%;
  border-radius: 5px;
  box-shadow: 0 2px 2px #e3e3e3;
  background-color: white;
}

.order-button {
  border: 1px solid #e67e22;
  color: white;
  background-color: #e67e22;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
}

.order-button:hover,
.order-button:active {
  border: 1px solid #c46a1c;
  color: white;
  background-color: #c46a1c;
}

.order-button:disabled {
  cursor: not-allowed;
  border: 1px solid #e67e22;
  color: #e67e22;
  background: none;
}
.order-button:disabled:hover {
  box-shadow: 1px 1px 1px #e67e22;
}

.order-button:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* BURGER INGREDIENTS */

.bread-top {
  height: 27%;
  width: 80%;
  background: url(./assets/images/burger-top.png) no-repeat;
  background-size: contain;
  margin: 2% auto;
  position: relative;
  z-index: 81;
}

.bread-bottom {
  height: 17%;
  width: 80%;
  background: url(./assets/images/burger-bottom.png) no-repeat;
  background-size: contain;
  margin: 2% auto;
  position: relative;
  z-index: 1;
}

.meat {
  height: 20%;
  width: 80%;
  background: url(./assets/images/meat.png) no-repeat;
  background-size: contain;
  margin: -10% auto;
  position: relative;
}

.cheese {
  height: 15%;
  width: 85%;
  background: url(./assets/images/cheese.png) no-repeat;
  background-size: contain;

  margin: -8% auto -10% auto;
  position: relative;
}

.salad {
  height: 20%;
  width: 85%;
  background: url(./assets/images/salad.png) no-repeat;
  background-size: contain;
  margin: -5% auto -10% auto;
  position: relative;
}

.bacon {
  height: 20%;
  width: 85%;
  background: url(./assets/images/bacon.png) no-repeat;
  background-size: contain;
  margin: -11% auto -10% auto;
  position: relative;
}

/* BURGER */
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
  border-radius: 10px;
  background-color: #ffffff;
}

div::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(218, 213, 213, 0.705);
  background-color: #bebebe;
}
.burger {
  display: inline-block;
  background-color: white;
  box-shadow: 2px 2px 2px #e3e3e3;
  width: 100%;
  border-radius: 5px;
  margin: 0 auto;
  height: 250px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 300px) {
  .burger {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .burger {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .burger {
    width: 600px;
    height: 500px;
  }
}

/* LAYOUT */

.content {
  margin-top: 72px;
}

/* LOGO */

.logo {
  background-color: white;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.logo img {
  height: 100%;
}

/* NAVIGATION ITEM */

.navigation-item {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.navigation-item a,
.navigation-item .no-ref-element {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.navigation-item a:hover,
.navigation-item .no-ref-element:hover,
.navigation-item .active {
  color: #40a4c8;
}

@media (min-width: 500px) {
  .navigation-item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .navigation-item a,
  .navigation-item .no-ref-element {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .navigation-item a:hover,
  .navigation-item .no-ref-element:hover,
  .navigation-item .active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}

.navigation-item {
  margin: 10px 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.navigation-item a,
.navigation-item .no-ref-element {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.navigation-item a:hover,
.navigation-item .no-ref-element:hover,
.navigation-item .active {
  color: #40a4c8;
}

@media (min-width: 500px) {
  .navigation-item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .navigation-item a,
  .navigation-item .no-ref-element {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .navigation-item a:hover,
  .navigation-item .no-ref-element:hover,
  .navigation-item .active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}

/* NAVIGATION ITEMS */

.navigation-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.navigation-items li {
  margin: 0px 10px;
}

@media (min-width: 500px) {
  .navigation-items {
    flex-flow: row;
  }
}

/* DRAWER TOGGLE */

.drawer-toggle {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.drawer-toggle div {
  width: 90%;
  height: 3px;
  background-color: white;
}

@media (min-width: 500px) {
  .drawer-toggle {
    display: none;
  }
}

/* SIDE DRAWER */

.side-drawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
  .side-drawer {
    display: none;
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

/* TOOLBAR */

.toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 150;
}

.toolbar nav {
  height: 100%;
}

.logo {
  height: 80%;
}

@media (max-width: 499px) {
  .desktop-only {
    display: none;
  }
}

/* CHECKOUT SUMMARY */

.checkout-summary {
  text-align: center;
  width: 80%;
  margin: auto;
}

/* Address */
.input-field {
}
.fa-edit {
  color: #e67e22;
  cursor: pointer;
}

.address-section {
  margin: 50px auto;
  text-align: center;
  width: 50%;
  height: 85vh;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 2px 2px #e3e3e3;
}

.address {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  margin: 20px 10%;
}
/* these make sure it can work in any text element */
.inline-text {
  width: 50%;
  padding: 5px;
  display: inline-flex;
  justify-content: space-between;
  border: 1px solid #555;
  border-radius: 10px;
}
.inline-text_copy--active,
.inline-text_input--active {
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
}
.inline-text_copy--active {
  cursor: pointer;
}
.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
}
.inline-text_input--active {
  border-bottom: 1px solid #666666;
  width: 100%;
  text-align: left;
}

/* ORDER */

.order {
  width: 100%;
  border: 1px soid #ccc;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

/* BACKDROP */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 160;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* BUTTON */

.button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.success {
  color: #5c9210;
}

.danger {
  color: #944317;
}

/* INPUT */

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.label {
  font-weight: normal;
  display: block;
  margin-bottom: 8px;
}

.input-element {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.input-element:focus {
  outline: none;
  background-color: #ccc;
}

.invalid {
  border: 1px solid red;
  background-color: salmon;
}

/* MODAL */

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

/* SPINNER & SUFFIXES & PREFIXES */

.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 50px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #e67e22;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 0.65s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 0.65s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

/* SIGNIN / SIGNUP FORM */

.sign-form {
  margin: auto;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}
/* 
@media (min-width: 600px) {
  .sign-form {
    width: 40%;
  }
}

@media (min-width: 1000px) {
  .sign-form {
    width: 30%;
  }
}
} */

/* .navigation-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .navigation-items {
        flex-flow: row;
    }
} */

/* CONTACT DATA */

.contact-data {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .contact-data {
    width: 500px;
  }
}

/* --------------------- HOW IT WORKS --------------------- */

.section-steps {
  background-color: rgb(255, 255, 255);
}

.app-screen {
  width: 40%;
}

.works-step div {
  display: inline-block;
  color: #e69122;
  border: 2px solid #e69122;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* VERTICAL LINE */

ol {
  list-style-type: none;
  counter-reset: num;
  position: relative;
  margin: 80px 0 0 7%;
  width: 45%;
  padding: 15px 0 5px 0;
  font-size: 20px;
}

ol li {
  position: relative;
  margin: 0 0 0 0;
  padding: 7px 0 60px 0;
  line-height: 1.4;
}

ol li:after {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -52px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #555;
  text-align: center;
  text-justify: auto;
  font-size: 30px;
  border-radius: 30%;
  border: 2px solid #e69122;
}

ol:before {
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: -30px;
  width: 1px;
  border-left: 2px solid #e69122;
}

ol li:last-child:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -38px;
  width: 28px;
  background: #fff;
}

/* FEATURES */

/* --------------------- FEATURES --------------------- */
section {
  padding: 50px 0;
  align-items: center;
  /* margin: 40px 0px 40px 0px; */
}

.section-features .long-copy {
  margin-bottom: 40px;
}

.wrapper {
  align-items: center;
  margin: 0 5%;
}

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.icon-big {
  font-size: 350%;
  color: #e67e22;
  display: block;
  margin-bottom: 10px;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

/*  GRID COLUMN SETUP   ==================================================================== */

/* GRID OF FOUR */

.span-1-of-4 {
  width: 23.8%;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .span-1-of-4 {
    width: 100%;
  }
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

/* GRID OF THREE */

.span-1-of-3 {
  width: 32.26%;
}

@media only screen and (max-width: 767px) {
  .span-2-of-3 {
    width: 100%;
  }
  .span-1-of-3 {
    width: 100%;
  }
}

/* GRID OF TWO */

.span-1-of-2 {
  width: 49.2%;
}

@media only screen and (max-width: 480px) {
  .span-1-of-2 {
    width: 100%;
  }
}

.col:first-child {
  margin-left: 0;
} /* all browsers except IE6 and lower */

@media only screen and (max-width: 767px) {
  .col {
    /*margin: 1% 0 1% 0%;*/
    margin: 0;
  }
}

/* BURGER BUILDER */

/*  GROUPING  ============================================================================= */

.row {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  max-width: 1140px;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

/* CITIES */

.section-cities {
  vertical-align: middle;
  margin: 40px 0;
}

.cities {
  margin: 0 10%;
}

.cities-photo {
  width: 80%;
  float: center;
  margin-bottom: 15px;
}

.cities-details {
  font-size: 90%;
  list-style: none;
  width: 100%;
}

/* --------------------- CONTACT FORM --------------------- */

.section-contact {
  background: #fff;
}

.contact-form {
  width: 60%;
  margin: 0 auto 40px auto;
}

.span-33 {
  width: 30%;
  text-align: left;
  display: inline-flex;
  justify-items: center;
  margin: 0px 10px 0px 10px;
}

.span-66 {
  width: 60%;
  text-align: left;
  display: inline-flex;
  justify-items: center;
  margin: 10px 0;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* --------------------- FOOTER --------------------- */

footer {
  background-color: #333;
  padding: 50px;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 30px;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 130%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #e95950;
}

footer p {
  color: #888;
  display: inline-block;
  margin: 30px 25%;
}

@media only screen and (max-width: 767px) {
  .span-1-of-4 {
    width: 100%;
  }
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
} /* all browsers except IE6 and lower */

@media only screen and (max-width: 767px) {
  .col {
    /*margin: 1% 0 1% 0%;*/
    margin: 0;
  }
}

/* BURGER BUILDER */

/*  GROUPING  ============================================================================= */

.row {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.twitter-ref:hover,
.twitter-ref:active {
  color: #555;
  text-decoration: none;
  border-bottom: 1.5px solid transparent;
}
