.section-steps {
  background-color: rgb(236, 236, 236);
}

.app-screen {
  width: 40%;
}

.works-step div {
  display: inline-block;
  color: #e69122;
  border: 2px solid #e69122;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
ol {
  list-style-type: none;
  counter-reset: num;
  position: relative;
  margin: 80px 0 0 7%;
  padding: 15px 0 5px 0;
  font-size: 20px;
}
ol li {
  position: relative;
  margin: 0 0 0 0;
  padding: 7px 0 60px 0;
  line-height: 1.4;
}
ol li:after {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -52px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #555;
  text-align: center;
  text-justify: auto;
  font-size: 30px;
  border-radius: 30%;
  border: 2px solid #e69122;
}

/* Вертикальная линия */
ol:before {
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: -30px;
  width: 1px;
  border-left: 2px solid #e69122;
}
/* Скрытие линии у последнего li */
ol li:last-child:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -38px;
  width: 28px;
  background: #fff;
}
